<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.person.rentalcar.mapper.client.ClientUserMapper">

    <sql id="userUpdate">
        <set>
            <if test="password != null and password != ''">
                password=#{password} ,
            </if>
            <if test="salt != null and salt != ''">
                salt=#{salt} ,
            </if>
            <if test="bankCard != null and bankCard != ''">
                bankCard=#{bankCard} ,
            </if>
            <if test="telephone != null and telephone != ''">
                telephone=#{telephone} ,
            </if>
            <if test="drivingLicense != null and drivingLicense != ''">
                drivingLicense=#{drivingLicense} ,
            </if>
            <if test="email != null and email != ''">
                email=#{email} ,
            </if>
            <if test="province != null and province != ''">
                province=#{province} ,
            </if>
            <if test="city != null and city != ''">
                city=#{city} ,
            </if>
            <if test="region != null and region != ''">
                region=#{region} ,
            </if>
            <if test="address != null and address != ''">
                address=#{address} ,
            </if>

            <if test="errorTipLinkman != null and errorTipLinkman != ''">
                errorTipLinkman=#{errorTipLinkman},
            </if>

            <if test="linkManTele != null and linkManTele != ''">
                linkManTele=#{linkManTele},
            </if>

            <if test="drivingBehalfID != null and drivingBehalfID != ''">
                drivingBehalfID=#{drivingBehalfID} ,
            </if>

            <if test="userUpdateTime != null and userUpdateTime != ''">
                userUpdateTime=#{userUpdateTime} ,
            </if>

            <if test="userUpdater != null and userUpdater != ''">
                userUpdater=#{userUpdater} ,
            </if>
        </set>
    </sql>

    <sql id="personCondition">
         where userId=#{userId}
    </sql>

    <select id="getPwdByUsername" parameterType="string" resultType="user">
        select userId,password from user where username =#{username}
    </select>

    <insert id="addUser" parameterType="user">
        insert into user(userId,username,`password`,salt,`name`,sex,telephone,cardTypeSelect,IDCard,bankCard,drivingLicense,email,province,city,region,address,errorTipLinkman,linkManTele,roles,drivingBehalfID,userCreateTime,userCreater,userUpdateTime,userUpdater,userStatus)
          values (#{userId},#{username},#{password},#{salt},#{name},#{sex},#{telephone},#{cardTypeSelect},#{IDCard},#{bankCard},#{drivingLicense},#{email},#{province},#{city},#{region},#{address},#{errorTipLinkman},#{linkManTele},#{roles},#{drivingBehalfID},#{userCreateTime},#{userCreater},#{userUpdateTime},#{userUpdater},#{userStatus});

    </insert>

    <update id="updateUser" parameterType="user">
        update User
        <include refid="userUpdate"/>
        <include refid="personCondition"/>
    </update>

    <update id="modifyPassword">
        update user set password =#{password,jdbcType=VARCHAR}  where userId =#{id}
    </update>

    <select id="selectCarInformationForClient" parameterType="com.person.rentalcar.vo.query.ClientQueryCarVO"
            resultType="com.person.rentalcar.vo.resp.ClientCarVO">
        SELECT
        c.carId,
        c.imageUrl,
        s.brand,
        s.seriesname,
        c.price
        FROM
        car c
        INNER JOIN series s
        WHERE
        <if test="brand != null and brand != ''">
            brand =#{brand,jdbcType=VARCHAR} and
        </if>

        <if test="price != null and price != ''">
            price <![CDATA[ <= ]]> #{price,jdbcType=VARCHAR} and
        </if>
        c.seriesId = s.seriesId
        AND c.carId NOT IN ( SELECT carId FROM `order` WHERE startTime > #{backTime,jdbcType=VARCHAR} AND endTime
        &lt;
        #{getTime,jdbcType=VARCHAR} )

    </select>

    <select id="getTotalSize" resultType="long">
        select count(1) from car
    </select>

    <select id="getUserIdForUsername" parameterType="string" resultType="integer">
        select userId from user where username=#{username,jdbcType=VARCHAR}
    </select>

    <select id="getUserInfoForOrder" parameterType="int" resultType="user">
        select name,cardTypeSelect,IDCard,email from user where userId=#{userId,jdbcType=INTEGER}
    </select>

    <select id="getSeriesInfoForCarId" parameterType="int" resultType="series">
        select * from series where seriesId in (SELECT seriesId from car where carId=#{carId,jdbcType=INTEGER}  )
    </select>

    <insert id="addOrder" parameterType="order">
        insert into `Order`(userId,carId,startTime,endTime,`status`)
        values (#{userId} ,#{carId} ,#{startTime} ,#{endTime} ,#{status} )
    </insert>

    <select id="selectMyOrderForUserId" parameterType="int" resultType="com.person.rentalcar.vo.resp.MyOrder">
      SELECT
        s.brand,
        s.seriesname,
        o.*
      FROM
        `order` AS o,
        series AS s,
        car AS c
      WHERE
        o.carId = c.carId
        AND c.seriesId = s.seriesId
        AND o.userId = #{userId,jdbcType=INTEGER}
    </select>

    <select id="getUserForUsername" parameterType="string" resultType="user">
        select * from user where username=#{username,jdbcType=VARCHAR}
    </select>

    <insert id="setRole">
        insert into user_role(userId,roleId) values(#{userId,jdbcType=INTEGER} ,#{roleId,jdbcType=INTEGER} )
    </insert>

    <select id="selectSharingOrder" parameterType="com.person.rentalcar.vo.query.QuerySharingOrderVO"
            resultType="sharingorder">
        SELECT
        so.sharingoderId,u.name,u.sex,u.telephone,so.path,so.time,so.price
        FROM
        sharingorder AS so
        LEFT JOIN drivingbehalf AS db ON so.drivingbehalfId = db.drivingBehalfId
        LEFT JOIN `user` AS u ON db.userId = u.userId
        WHERE
        (so.userId IS NULL
        OR so.userId = '')
        AND so.`status` = TRUE
        <if test="path != null and path != ''">
            and so.path like CONCAT('%',#{path,jdbcType=VARCHAR} ,'%')
        </if>
        <if test="time != null and time != ''">
            and so.time>=#{time,jdbcType=VARCHAR}
        </if>
        <if test="price != null and price != ''">
            and so.price <![CDATA[ <= ]]> #{price,jdbcType=INTEGER}
        </if>
    </select>

    <insert id="becomeDriveSharing" parameterType="int">
        insert into drivingbehalf(userId) value (#{userId,jdbcType=INTEGER} )
    </insert>

    <select id="driveSharingExit" parameterType="int" resultType="drivingbehalf">
        select * from drivingbehalf where userId=#{userId,jdbcType=INTEGER}
    </select>

    <insert id="publishSharingOrderVO" parameterType="com.person.rentalcar.vo.query.PublishSharingOrderVO">
        insert into sharingorder(drivingbehalfId,path,time,price,status) values(#{drivingbehalfId,jdbcType=INTEGER}  ,#{path,jdbcType=VARCHAR} ,#{time,jdbcType=VARCHAR} ,#{price,jdbcType=INTEGER} ,true)
    </insert>

    <select id="getDrivingBehalfId" parameterType="int" resultType="integer">
        select drivingbehalfId from drivingbehalf where userId=#{userId,jdbcType=INTEGER}
    </select>

    <update id="orderSharingDriver">
        update sharingorder set userId=#{userId,jdbcType=INTEGER} where sharingoderId=#{sharingoderId,jdbcType=INTEGER}
        <if test="drivingBehalfId != null">
            and drivingbehalfId !=#{drivingBehalfId,jdbcType=INTEGER}
        </if>
    </update>


    <select id="selectMySharingOrder" parameterType="int" resultType="com.person.rentalcar.vo.resp.MySharingOrder">
        SELECT
            `user`.`name`,
            `user`.sex,
            `user`.telephone,
            sharingorder.time,
            sharingorder.path,
            sharingorder.price,
            sharingorder.`status`
        FROM
            sharingorder
            LEFT JOIN `user` ON sharingorder.userId = `user`.userId
        WHERE
            sharingorder.drivingbehalfId = #{drivingBehalfId,jdbcType=INTEGER}
    </select>
</mapper>
