<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.person.rentalcar.mapper.CarMapper">

    <insert id="addCar" parameterType="car">
        insert into Car(seriesId,carType,plateNumber,price,userEvaluation,productStartTime,productEndTime,carCreateTime,carCreater,carUpdateTime,carUpdater,carStatus)
        values (#{seriesId} ,#{carType},#{plateNumber} ,#{price},#{userEvaluation} ,#{productStartTime}  ,#{productEndTime},#{carCreateTime} ,#{carCreater} ,#{carUpdateTime} ,#{carUpdater}  ,#{carStatus}  )
    </insert>

    <sql id="CarUpdateConditon">

        <set>
            <if test="seriesId!=null">
                seriesId=#{seriesId},
            </if>

            <if test="carType != null">
                carType=#{carType} ,
            </if>

            <if test="plateNumber != null">
                plateNumber=#{plateNumber} ,
            </if>

            <if test="price != null">
                price = #{price},
            </if>

            <if test="userEvaluation != null">
                userEvaluation=#{userEvaluation} ,
            </if>

            <if test="carCreateTime != null">
                carCreateTime=#{carCreateTime} ,
            </if>

            <if test="carCreater != null">
                carCreater=#{carCreater} ,
            </if>

            <if test="carUpdateTime != null">
                carUpdateTime=#{carUpdateTime} ,
            </if>

            <if test="carUpdater != null">
                carUpdater=#{carUpdater} ,
            </if>

            <if test="productStartTime != null">
                productStartTime=#{productStartTime} ,
            </if>

            <if test="productEndTime != null">
                productEndTime =#{productEndTime} ,
            </if>

            <if test="carStatus != null">
                carStatus =#{carStatus}
            </if>
        </set>
    </sql>

    <sql id="personCondition">
        where carId=#{carId}
    </sql>

    <update id="updateCar" parameterType="car">
        update Car
        <include refid="CarUpdateConditon"/>
        <include refid="personCondition"/>
    </update>

    <update id="updateStatus">
        update Car set carStatus=#{status,jdbcType=BOOLEAN}
        <include refid="personCondition"/>
    </update>

    <select id="selectAllCar" parameterType="com.person.rentalcar.vo.query.PageRequest"
            resultType="com.person.rentalcar.model.Car">
        select * from Car
        <if test="query != null and query != ''">
            where seriesId in (select seriesId from serieswhere seriesname like concat('%',#{query,jdbcType=VARCHAR}
            ,'%'))
        </if>


    </select>

    <select id="getLikeCar" parameterType="string" resultType="com.person.rentalcar.vo.resp.CarVO">
        SELECT
        *
        FROM
        car c
        LEFT join series s on c.seriesId=s.seriesId
        <if test="seriesName != null and seriesName != ''">
            where s.seriesname like concat('%',#{seriesName,jdbcType=VARCHAR} ,'%')
        </if>
    </select>

    <select id="getTotalSize" resultType="long">
        select count(1) from car
    </select>

    <delete id="deleteCar" parameterType="integer">
        delete from car
        <include refid="personCondition"/>
    </delete>
</mapper>
