<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.rentalcar.mapper.DrivingBehalfMapper">

    <insert id="addDrivingBehalf" parameterType="int">
      insert  into drivingbehalf(userId) value (#{userId,jdbcType=INTEGER} )
    </insert>

    <sql id="drivingBehalfUpdate">
        <set>
            <if test="userId!=null">
                userId=#{userId},
            </if>
            <if test="drivingTelephone!=null">
                drivingTelephone=#{drivingTelephone} ,
            </if>
            <if test="behalfLicense!=null">
                behalfLicense=#{behalfLicense} ,
            </if>
            <if test="drivingUpdater!=null">
                drivingUpdater=#{drivingUpdater} ,
            </if>
            <if test="drivingUpdateTime!=null">
                drivingUpdateTime=#{drivingUpdateTime}
            </if>
        </set>
    </sql>

    <sql id="tablename">
        DrivingBehalf
    </sql>

    <sql id="personConfition">
        where drivingBehalfId=#{drivingBehalfId}
    </sql>

    <select id="IsDrivingBehalf" parameterType="string" resultType="boolean">
        select COUNT(1) from drivingbehalf where userId in (select userId from `user` where username=#{username,jdbcType=VARCHAR} )
    </select>

    <select id="selectAllDrivingBehalf" resultType="com.person.rentalcar.vo.resp.SharingDriverInfoVO"
            parameterType="com.person.rentalcar.vo.query.PageRequest">
        SELECT
        dr.drivingBehalfId,
        u.`name`,
        u.sex,
        u.telephone,
        u.email
        FROM
        `user` u,
        drivingbehalf dr
        WHERE
        u.userId = dr.userId
        <if test="query != null and query != ''">
            and u.`name` like concat('%',#{query,jdbcType=VARCHAR} ,'%')
        </if>
    </select>

    <delete id="deleteDrivingBehalf" parameterType="integer">
        delete from
        <include refid="tablename"/>
        where drivingBehalfId =#{drivingBehalfId,jdbcType=INTEGER}
    </delete>

    <select id="selectDrivingBehalfByDrivingBehalfId" parameterType="integer" resultType="drivingbehalf">
        select * from
        <include refid="tablename"/>
        <include refid="personConfition"/>
    </select>


</mapper>
