<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.rentalcar.mapper.DrivingBehalfMapper">

    <insert id="addDrivingBehalf" parameterType="drivingbehalf">
        insert into DrivingBehalf(drivingName,drivingSex,drivingTelephone,creditscore,drivingComment,behalfLicense,drivingCreater,drivingCreateTime,drivingUpdater,drivingUpdateTime,drivingStatus)
        values (#{drivingName} ,#{drivingSex} ,#{drivingTelephone} ,#{creditscore} ,#{drivingComment} ,#{behalfLicense} ,#{drivingCreater} ,#{drivingCreateTime},#{drivingUpdater} ,#{drivingUpdateTime} ,#{drivingStatus} )
    </insert>

    <sql id="drivingBehalfUpdate">
        <set>
            <if test="userId!=null">
                userId=#{userId},
            </if>
            <if test="drivingTelephone!=null">
                drivingTelephone=#{drivingTelephone} ,
            </if>
            <if test="behalfLicense!=null">
                behalfLicense=#{behalfLicense} ,
            </if>
            <if test="drivingUpdater!=null">
                drivingUpdater=#{drivingUpdater} ,
            </if>
            <if test="drivingUpdateTime!=null">
                drivingUpdateTime=#{drivingUpdateTime}
            </if>
        </set>
    </sql>

    <sql id="tablename">
        DrivingBehalf
    </sql>

    <sql id="personConfition">
        where drivingBehalfId=#{drivingBehalfId}
    </sql>

    <update id="updateDrivingBehalf" parameterType="drivingbehalf">
        update
        <include refid="tablename"/>
        <include refid="drivingBehalfUpdate"/>
        <include refid="personConfition"/>
    </update>

    <select id="selectAllDrivingBehalf" resultType="drivingbehalf"
            parameterType="com.person.rentalcar.vo.query.PageRequest">
        select * from
        <include refid="tablename"/>
        <if test="query != null and query != ''">
            where drivingName like concat('%',#{query,jdbcType=VARCHAR} ,'%')
        </if>
    </select>

    <delete id="deleteDrivingBehalf" parameterType="integer">
        delete from
        <include refid="tablename"/>
        where drivingBehalfId =#{drivingBehalfId,jdbcType=INTEGER}
    </delete>

    <select id="selectDrivingBehalfByDrivingBehalfId" parameterType="integer" resultType="drivingbehalf">
        select * from
        <include refid="tablename"/>
        <include refid="personConfition"/>
    </select>

    <update id="changeStatus">
        update
        <include refid="tablename"/>
        set drivingStatus=#{status,jdbcType=BOOLEAN} where drivingBehalfId=#{driverId,jdbcType=INTEGER}
    </update>
</mapper>
