<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.rentalcar.mapper.OrderMapper">

    <sql id="tablename">
            `Order`
    </sql>

    <sql id="updateConditions">
        <set>
            <if test="userId!=null">
                userId=#{userId},
            </if>
            <if test="carId!=null">
                carId=#{carId},
            </if>
            <if test="startTime!=null">
                startTime=#{startTime},
            </if>
            <if test="endTime!=null">
                endTime=#{endTime},
            </if>
        </set>
    </sql>

    <sql id="personCondition">
        where orderId=#{orderId}
    </sql>

    <insert id="addOrder" parameterType="order">
        insert into `Order`(userId,carId,startTime,endTime,`status`)
        values (#{userId} ,#{carId} ,#{startTime} ,#{endTime} ,#{status} )
    </insert>

    <update id="updateOrder" parameterType="order">
        update
        <include refid="tablename"/>
        <include refid="updateConditions"/>
        <include refid="personCondition"/>
    </update>

    <update id="changeStatus">
        update
        <include refid="tablename"/>
        set status=#{status,jdbcType=BOOLEAN}
        <include refid="personCondition"/>
    </update>

    <select id="selectOrderByOrderId" parameterType="integer" resultType="order">
        select * from
        <include refid="tablename"/>
        <include refid="personCondition"/>
    </select>

    <select id="selectAllOrder" resultType="order" parameterType="com.person.rentalcar.vo.query.PageRequest">
        SELECT
        o.*,u.username,s.seriesname,c.price
        FROM
        `order` o
        LEFT JOIN `user` u ON o.userId =u.userId
        LEFT JOIN car c on o.carId= c.carId
        LEFT JOIN series s on c.seriesId = s.seriesId
        <if test="query != null and query != ''">
            where username like concat('%',#{query,jdbcType=VARCHAR} ,'%')
            or seriesname like concat('%',#{query,jdbcType=VARCHAR} ,'%')
            or o.orderId= #{query,jdbcType=VARCHAR}
        </if>
    </select>

    <delete id="deleteOrder" parameterType="integer">
        delete from <include refid="tablename"/> where orderId =#{orderId,jdbcType=INTEGER}
    </delete>

</mapper>
