<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.rentalcar.mapper.SeriesMapper">

    <sql id="tablename">
        Series
    </sql>

    <sql id="updateCondition">
        <set>
            <if test="brand !=null">
                brand=#{brand},
            </if>
            <if test="seriesName!=null">
                seriesName=#{seriesName},
            </if>
            <if test="doors!=null">
                doors=#{doors},
            </if>
            <if test="skylight!=null">
                skylight=#{skylight},
            </if>
            <if test="airsac!=null">
                airsac=#{airsac},
            </if>
            <if test="seatType!=null">
                seatType=#{seatType},
            </if>
            <if test="fuelTank!=null">
                fuelTank=#{fuelTank},
            </if>
            <if test="seatNumber!=null">
                seatNumber=#{seatNumber},
            </if>
            <if test="fuelType!=null">
                fuelType=#{fuelType},
            </if>
            <if test="radar!=null">
                radar=#{radar},
            </if>
            <if test="fulelabel!=null">
                fulelabel=#{fulelabel},
            </if>
            <if test="engineIntakeType!=null">
                engineIntakeType=#{engineIntakeType},
            </if>
            <if test="drivingMode!=null">
                drivingMode=#{drivingMode},
            </if>
            <if test="transmissionType!=null">
                transmissionType=#{transmissionType},
            </if>
            <if test="displacement!=null">
                displacement=#{displacement},
            </if>
            <if test="DVD !=null">
                DVD =#{DVD},
            </if>
            <if test="GPS !=null">
                GPS=#{GPS},
            </if>
            <if test=" voiceboxs!=null">
                voiceboxs =#{voiceboxs},
            </if>
            <if test="seriesCreater !=null">
                seriesCreater =#{seriesCreater},
            </if>
            <if test=" seriesCreateTime!=null">
                seriesCreateTime =#{seriesCreateTime},
            </if>
            <if test=" seriesUpdater!=null">
                seriesUpdater =#{seriesUpdater},
            </if>
            <if test=" seriesUpdateTime!=null">
                seriesUpdateTime =#{seriesUpdateTime},
            </if>

        </set>
    </sql>

    <sql id="personCondition">
        where seriesId=#{seriesId}
    </sql>

    <insert id="addSeries" parameterType="series">
        insert into Series(brand,seriesName,doors,skylight,airsac,seatType,fuelTank,seatNumber,fuelType,radar,fulelabel,engineIntakeType,drivingMode,transmissionType,displacement,DVD,GPS,voiceboxs,seriesCreater,seriesCreateTime,seriesUpdater,seriesUpdateTime,seriesStatus)
        values (#{brand} ,#{seriesName} ,#{doors} ,#{skylight} ,#{airsac} ,#{seatType} ,#{fuelTank} ,#{seatNumber} ,#{fuelType} ,#{radar} ,#{fulelabel} ,#{engineIntakeType}  ,#{drivingMode} ,#{transmissionType} ,#{displacement} ,#{DVD} ,#{GPS} ,#{voiceboxs} ,#{seriesCreater} ,#{seriesCreateTime} ,#{seriesUpdater} ,#{seriesUpdateTime} ,#{seriesStatus} )
    </insert>

    <update id="updateSeries" parameterType="series">
        update
        <include refid="tablename"/>
        <include refid="updateCondition"/>
        <include refid="personCondition"/>
    </update>

    <update id="deleteSeriesBySeriesId" parameterType="integer">
        update
        <include refid="tablename"/>
        set seriesStatus=false
        <include refid="personCondition"/>
    </update>

    <select id="selectSeriesBySeriesId" parameterType="integer" resultType="series">
        select * from
        <include refid="tablename"/>
        <include refid="personCondition"/>
    </select>

    <select id="selectAllSeries" resultType="series">
        select * from
        <include refid="tablename"/>
    </select>

    <select id="getSeriesNameBySeriesId" parameterType="integer" resultType="string">
        select seriesname from series where seriesId=#{seriesId,jdbcType=INTEGER}
    </select>

    <select id="SeriesForIdAndname" resultType="series">
        select seriesId,seriesname from series;
    </select>
</mapper>
